{% extends 'AppBundle::base.html.twig' %}

{% block title %}
    {% if pagination[1] is defined %}
        {% for company in companies %}
            {% if company.name == company_name %}
                {{ company.title }}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for product in pagination %}
            {{ product.title }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="col-xs-2">
        <h2 class="sub-header"><a href="/">Home</a></h2>
        <a type="button" class="btn btn-primary btn-lg btn-block" href="{{ path('showCompanies') }}">Companies</a>
        {% for company in companies %}
            <a class="btn btn-default btn-lg btn-block" href="{{ company.name }}">{{ company.name }}</a>
        {% endfor %}
    </div>
    <div class="col-xs-10">
        <h2 class="sub-header">Products of {{ company_name }} </h2>
        <p type="button" class="btn btn-primary btn-sm">Product name</p>
        <hr/>
        {% for product in pagination %}
            <a type="button" class="btn btn-default btn-sm"
               href="{{ path('showCompany', {'company_name': company_name, 'product': product.id}) }}">{{ product.name }}</a>
            <br>
        {% endfor %}
        <div class="text-center">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}