{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        {#<h2 class="sub-header">{{ homepage }}</h2>
        <h2 class="sub-header">{{ companyListTitle }}</h2>#}
        <h2 class="sub-header">{{ companyTitle }}</h2>
        <h2 class="sub-header">{% if productTitle is defined  %}{{ productTitle }}{% endif %}</h2>
    </div>

    {#<form class="form-group" action="{{ path('login') }}" method="post">
        <label for="username">Username:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="_password" />

        #}{#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}{#

        <hr/>
        <button class="btn btn-primary pull-right" type="submit">Login</button>
    </form>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
       /* $(".send").click(function (event) {
            var string = $(".send").parent().find('input').val();
            $.ajax({
                url: "/admin/search",
                method: "POST",
                data:{
                    'string': string
                },
                success: function () {
                    window.location.replace(window.location.origin + "/admin/search");
                },
                error: function (response) {
                    console.log(response);
                }
            });
        });*/
    </script>
{% endblock %}