{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}"/>
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form class="form-group" action="{{ path('login') }}" method="post">
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>

                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="_password"/>
                <hr/>
                <button class="btn btn-primary pull-right" type="submit">Login</button>
            </form>
        </article>
    </section>
{% endblock %}